<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @workshop.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @workshop.address %>
</p>

<p>
  <strong>Locality:</strong>
  <%= @workshop.locality_id %>
</p>

<%= link_to 'Edit', edit_workshop_path(@workshop) %> |
<%= link_to 'Back', workshops_path %>
