<p id="notice"><%= notice %></p>

<h1 style="background-color:powderblue; color:blue; font-family:verdanas; text-align:center; "><%= t('g.technicians') %></h1>


<font size="5" face="Courier New" >
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"><%= t('g.first_name') %></th>
      <th scope="col"><%= t('g.last_name') %></th>
      <th scope="col"><%= t('g.birthday') %></th>
      <th scope="col"><%= t('g.document_number') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @technicians.each do |technician| %>
      <tr>
        <td style="font-family: sans-serif; font-size:70%; "><%= technician.first_name %></td>
        <td style="font-family: sans-serif; font-size:70%; "><%= technician.last_name %></td>
        <td style="font-family: sans-serif; font-size:70%; "><%= technician.birthday %></td>
        <td style="font-family: sans-serif; font-size:70%; "><%= technician.document_number %></td>
        <td><%= link_to t('g.show'), technician, class:'btn btn-info', style: 'color: #01033D; font-family:cursive;' if can? :show, Tube  %></td>
        <td><%= link_to t('g.edit'), edit_technician_path(technician), class:'btn btn-warning', style: 'color: #000000', style: 'font-family:cursive' if can? :edit, Tube  %></td>
        <td><%= link_to t('g.destroy'), technician, class:'btn btn-danger', style: 'color: #FFFFFF; font-family:cursive;', method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, Tube %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @technicians %>
<br>

<ul class="navbar navbar-expand-xl navbar-dark bg-dark">
  <li class="btn btn-success" align="right">
<%= link_to t('g.add'), new_technician_path, style: 'color: #efefef', align:'right' if can? :create, Tube %>
</li>
</ul>
<br>
<br>
