<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @technician.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @technician.last_name %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @technician.birthday %>
</p>

<p>
  <strong>Document number:</strong>
  <%= @technician.document_number %>
</p>

<%= link_to 'Edit', edit_technician_path(@technician) %> |
<%= link_to 'Back', technicians_path %>
