<%= form_with(model: model) do |form| %>
  <% if model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(model.errors.count, "error") %> prohibited this model from being saved:</h2>

      <ul>
        <% model.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model %>
  </div>

  <div class="field">
    <%= form.label :brand_id %>
      <%= form.collection_select(:brand_id, Brand.all, :id, :brand) %>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
