<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @tube_verification.date %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @tube_verification.enabled %>
</p>

<p>
  <strong>Exam type:</strong>
  <%= @tube_verification.exam_type_id %>
</p>

<p>
  <strong>Tube:</strong>
  <%= @tube_verification.tube_id %>
</p>

<p>
  <strong>Technician:</strong>
  <%= @tube_verification.technician_id %>
</p>

<%= link_to 'Edit', edit_tube_verification_path(@tube_verification) %> |
<%= link_to 'Back', tube_verifications_path %>
