<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service_station.name %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @service_station.adress %>
</p>

<p>
  <strong>Fuel types:</strong>
  <%= @service_station.fuel_types %>
</p>

<p>
  <strong>Flag:</strong>
  <%= @service_station.flag %>
</p>

<p>
  <strong>Dispensers quantity:</strong>
  <%= @service_station.dispensers_quantity %>
</p>

<p>
  <strong>Locality:</strong>
  <%= @service_station.locality_id %>
</p>

<%= link_to 'Edit', edit_service_station_path(@service_station) %> |
<%= link_to 'Back', service_stations_path %>
