<p id="notice"><%= notice %></p>

<p>
  <strong>License:</strong>
  <%= @car.license %>
</p>

<p>
  <strong>Color:</strong>
  <%= @car.color %>
</p>

<p>
  <strong>Version:</strong>
  <%= @car.version_id %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
