<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @province.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @province.country_id %>
</p>


<p>
  <strong>Id</strong>
  <%= @province.id %>
</p>

<%= link_to 'Edit', edit_province_path(@province) %> |
<%= link_to 'Back', provinces_path %>
