<%= form_with(model: kit_installation) do |form| %>
  <% if kit_installation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kit_installation.errors.count, "error") %> prohibited this kit_installation from being saved:</h2>

      <ul>
        <% kit_installation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date %>
  </div>

  <div class="field">
    <%= form.label :cost_on_argentinian_pesos %>
    <%= form.number_field :cost_on_argentinian_pesos %>
  </div>

  <div class="field">
    <%= form.label :tube_kit_id %>
      <%= form.collection_select(:tube_kit_id, TubeKit.all, :id, :kit_number) %>
  </div>

  <div class="field">
    <%= form.label :workshop_id %>
    <%= form.collection_select(:workshop_id, Workshop.all, :id, :name_locality) %>
  </div>

  <div class="field">
    <%= form.label :car_id %>
      <%= form.collection_select(:car_id, Car.all, :id, :license) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
