<%= form_with(model: tube_kit) do |form| %>
  <% if tube_kit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tube_kit.errors.count, "error") %> prohibited this tube_kit from being saved:</h2>

      <ul>
        <% tube_kit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :kit_number %>
    <%= form.number_field :kit_number %>
  </div>

  <div class="field">
    <%= form.label :tube_id %>
    <%= form.collection_select(:tube_id, Tube.all, :id, :id_diameter_capacity) %>


  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
